# pyahocorasick can optionally be built without unicode support,
# to save RAM. See doc/aho-corasick.md
pyahocorasick==1.1.0
autobahn==0.10.9
biopython==1.65
dark-matter==>=1.0.32
discover==0.4.0
gor4>=1.0.1
matplotlib==1.4.3
#
# Sometimes pip complains that it cannot find the mysql-connector-python
# module. So if the following mysql-connector-python lines do not work,
# install the module manually via:
#
#   $ wget https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.0.3.zip
#   $ unzip mysql-connector-python-2.0.3.zip
#   $ cd mysql-connector-python-2.0.3
#   $ python setup.py install
#
--allow-external mysql-connector-python
mysql-connector-python==2.0.4
numpy==1.10.1
pandas==0.16.2
pep8==1.6.2
pyflakes==1.0.0
pyOpenSSL==0.15.1
scipy==0.16.0
scikit-learn==0.16.1
scikit-bio==0.4.0
twisted==15.4.0
ujson==1.33
