biopython==1.65
dark-matter
discover==0.4.0
matplotlib==1.4.3
numpy==1.10.1
pandas==0.16.2
pep8==1.6.2
pyflakes==1.0.0
scipy==0.16.0
twisted==15.4.0
ujson==1.33
--allow-external mysql-connector-python
mysql-connector-python==2.0.4
scikit-learn==0.16.1
pyOpenSSL==0.15.1
autobahn==0.10.9
